
.conoce {
    color: $color-button;
    background-image: linear-gradient(rgb(4, 219, 165),rgb(5, 187, 196));
    border: 0;
    border-radius: 5px;
    box-shadow: $box-shadow;
    transition: all 0.3s linear;
    text-align: center;
    &:hover {
        color: $colorhover;
    }
}

/* vista mobile */
@media only screen and (min-width: 0px) and (max-width: 767px) {
.conoce {
    width: 90px;
    height: 30px;
    font-size: $fontsize-xs;
    cursor: pointer;

}
}

    /* vista desktop */
@media only screen and (min-width: 768px) {
.conoce {
    width: 125px;
    height: 40px;
    font-size: $fontsize-m;
    cursor: pointer;
}
}